services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 111  # Замените на свой пароль
      POSTGRES_DB: schedule_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"  # Map host port 5433 to container port 5432 (default PostgreSQL port)
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 111  # Замените на свой пароль
      POSTGRES_HOST: db
      POSTGRES_PORT: 5433  # Порт внутри Docker-сети
      POSTGRES_DB: schedule_db
    ports:
      - "8000:8000"

volumes:
  postgres_data: